* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Sans-Serif;
    font-size: 20px;
}

h1 {
    font-family: 'Old Standard TT', Serif;
    font-weight: 700;
    font-size: 70px;